<div class="container">
    <div class="row justify-content-center">


        <div class="card col-12 mt-5">
            <h1 class="text-center py-3 display-4">Formulario de la Empresa</h1>
        </div>

        <div class="col-md-8 mt-4 card p-4">


            <form #form="ngForm">

                <div class="form-group">
                    <label for="" class="col-form-label-sm">Nombre:</label>
                    <input type="text" class="form-control" required name="nombreIn" [(ngModel)]="empresa.nombre">
                </div>



                <div class="form-group">
                    <label for="" class="col-form-label-sm">Ubicacion:</label>
                    <input type="text" class="form-control" required name="ubicacionIn" [(ngModel)]="empresa.ubicacion">
                </div>



                <div class="form-group">
                    <label for="" class="col-form-label-sm">Correo:</label>
                    <input type="email" class="form-control" required name="correoIn" [(ngModel)]="empresa.correo">
                </div>



                <div class="form-group">
                    <label for="" class="col-form-label-sm">Cupos Disponibles:</label>
                    <input type="number" min="0" class="form-control" required name="cupoDisIn"
                        [(ngModel)]="empresa.cuposDisponibles">
                </div>


                <div class="form-group">
                    <label for="" class="col-form-label-sm">Cupos Ocupados:</label>
                    <input type="number" min="0" class="form-control" required name="cupoOcuIn"
                        [(ngModel)]="empresa.cuposOcupados">
                </div>


                <div class="form-group">
                    <label for="" class="col-form-label-sm">Fecha Limite:</label>
                    <input type="date" class="form-control" required name="fechaIn" [(ngModel)]="empresa.fechaLimite">
                </div>


                <div class="text-center form-row justify-content-around">
                    <div class="col-5">
                        <button class="btn btn-danger">Cancelar</button>
                    </div>
                    <div class="col-5">
                        <button class="btn btn-info" [disabled]="form.invalid" (click)="btnGuardar()">Guardar</button>
                    </div>
                </div>


            </form>


        </div>
    </div>
</div>