<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link"  [routerLink]="[ '/inicio' ]">Inicio <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link"  [routerLink]="[ '/login' ]">Registrarse</a>
      <a class="nav-item nav-link"  [routerLink]="[ '/documentos' ]">Documentos</a>
    </div>
  </div>
</nav>  

<div class="container-fluid">
  <br>
    <h1 class="text-center">Documentos</h1>
    <div class="row">
      <div class="col-sm-2">
        <h2>Convocatorias</h2>
        <p>Consulta de las convocatoria existentes</p>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class=" offset-md-1 col-sm-4">
            <div class="card bg-dark text-black mt-5" style="width: 18rem;">
              <img src="../../../assets/img/fondoDoc.jpg" class="card-img" alt="..." />
              <div class="card-img-overlay">
                <h5 class="card-title justify-content-center">
                  Generar Convocatoria
                </h5>
                <p class="card-text">
                  Dale click a empezar para generar una
                  nueva Convocatoria e iniciar el primer
                  proceso de Prácticas Pre Profesionales.
                </p>
                <a class="btn btn-block btn-outline-dark"
                            routerLink="/convocatoria">Empezar</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 offset-md-1 mt-5">
            <div class="card bg-dark text-black" style="width: 18rem;">
              <img src="../../../assets/img/fondoDoc.jpg" class="card-img" alt="..." />
              <div class="card-img-overlay">
                <h5 class="card-title justify-content-center">
                  Generar Solicitud
                </h5>
                <p class="card-text">
                    Dale click a empezar para generar una
                    nueva Solicitud e iniciar el primer
                    proceso de Prácticas Pre Profesionales.
                </p>
                
                <a class="btn btn-block btn-outline-dark disabled"
                            routerLink="/solicitud">Empezar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2 text-white pr-2" style="background-color: #303F9F">
        <h2>Solicitudes</h2>
        <p>Consulta de las Solicitudes Habilitado para los Docentes</p>
        <button >Mostrar las Solicitudes</button>
      </div>
    </div>
  </div>