<div class="container-fluid">
    <h1 class="text-center">Documentos</h1>
    <div class="row">
        <div class="col-sm-3">
                <h2>Convocatorias</h2>
                <p>Consulta de las convocatoria existentes</p>
        </div>
        <div class="col-sm-6 align-content-center">
                        <div class="card p-2" style="width: 18rem;">
                                        <img src="..." class="card-img-top" alt="...">
                                        <h5 class="card-title">Generar Convocatoria</h5>
                                        <div class="card-body">
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                </div>
                                            
                                <div class="card p-2" style="width: 18rem;">
                                        <img src="..." class="card-img-top" alt="...">
                                        <h5 class="card-title"> Generar Solicitud</h5>
                                        <div class="card-body">
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                </div>
        </div>
        <div class="col-sm-3">
                <h2>Solicitudes</h2>
                <p>Consulta de las Solicitudes Habilitado para los Docentes</p>
                <p>Click en la convocatoria y muestra las solicitudes</p>
        </div>
       
        
    </div>
    
</div>
