<div class="container-fluid">
    <h1 class="text-center">Documentos</h1>
    <div class="row mt-2 bg-danger">
        <div class="col-sm-6 align-content-center">
                        <div class="card p-2" style="width: 18rem;">
                                        <img src="..." class="card-img-top" alt="...">
                                        <h5 class="card-title"> Generar Convocatoria</h5>
                                        <div class="card-body">
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                </div>
                                            
                                <div class="card p-2" style="width: 18rem;">
                                        <img src="..." class="card-img-top" alt="...">
                                        <h5 class="card-title"> Generar Solicitud</h5>
                                        <div class="card-body">
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                </div>
        </div>
       
        
    </div>
    
</div>
