<div class="container mt-5">

    <div class="row justify-content-center">
        <h1 class="display-3">Solicitud del Estudiante</h1>


        <div class="col-11 col-sm-10 col-md-6 col-lg-6 py-5 bg-light text-center text-dark rounded border border-dark">
            <form #formulario="ngForm">

                <div class="form-group">
                    <label for="">Cédula:</label>
                    <input required class="form-control" type="text" name="cedulaEstudiante" id=""
                        [(ngModel)]="form.cedulaEstudiante">
                </div>
                <div class="form-group mt-3">



                    <div class="form-group">
                        <label for="">
                            Nombres:</label>
                        <input required class="form-control" type="text" name="nombresEstudiante" id=""
                            [(ngModel)]="form.nombresEstudiante">
                    </div>

                    <div class="form-group">
                        <label for="">
                            Apellidos:</label>
                        <input required class="form-control" type="text" name="apellidosEstudiante" id=""
                            [(ngModel)]="form.apellidosEstudiante">
                    </div>

                    <div class="form-group">
                        <label for="">
                            Celular:</label>
                        <input required class="form-control" type="text" name="apellidosEstudiante" id=""
                            [(ngModel)]="form.celularEstudiante">
                    </div>

                    <div class="form-group">
                        <label for="">
                            Correo:</label>
                        <input required class="form-control" type="e-mail" name="apellidosEstudiante" id=""
                            [(ngModel)]="form.correoEstudiante">
                    </div>

 
                </div>


                <button type="submit" class="btn btn-block btn-dark text-white"
                    (click)="generarDocumento(form)">Generar</button>

            </form>

        </div>


        <div class="col-11 col-sm-10 col-md-6 col-lg-6 py-5 bg-light text-center text-dark rounded border border-dark">
            <img src="../../../../../assets/img/logo.png"
                alt="" class="img-fluid" width=100px>
            <h1 style="font-size:25px;">Solicitud Estudiantes </h1><br>
            <p style="text-align:right"> Cuenca, … de ………….. del 20xx</p>
            <br>
            <p style="text-align: left">Magíster <br><br><br> ___________________________________<br> RESPONSABLE DE
                PRÁCTICAS PRE PROFESIONALES DE LA CARRERA ……………………<br> INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY <br> Su
                Despacho
                <br><br><br> De mi consideración:
                <br><br><br> Por medio de la presente, Yo, …………………………………………………………………………, con número de cédula
                ………………………………, estudiante del ……. Ciclo, paralelo ….. del periodo académico de la carrera …………………………,
                solicito comedidamente se autorice mi postulación
                para realizar las 240 horas de prácticas pre profesionales en la empresa ……………………. según solicitud
                CONVOCATORIA – CARRERA – 20xx – 00#<br><br> Acepto realizar el proceso de selección determinado por la
                empresa receptora y en caso de ser
                elegido, me comprometo a cumplir con la normativa de la empresa, presentar los requisitos solicitados
                por el Instituto Superior Tecnológico del Azuay como prueba de las actividades realizadas y demostrar
                profesionalismo, dedicación y honestidad
                en todo momento, dejando en alto el nombre de la institución educativa y colaborando en el
                fortalecimiento de la empresa receptora que me brinda la posibilidad de formarme en sus instalaciones.
                <br><br> Sin más que informar me despido agradeciendo de antemano su colaboración.<br><br> Atentamente
                <br><br><br> _____________________________<br> Nombre: (Estudiante)<br> Celular: (Estudiante)<br> Correo
                electrónico: (Estudiante)




            </p>

        </div>

    </div>

</div>